.Ajout{
    color: #FFF;
    font-family: Poppins;
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    justify-content: center;
    margin-top: 15%;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.bloc{
    width: 821px;
    height: 168px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #FFF;
}

.jeu{
    margin-top: -7.5%;
    width: 551px;
    color: #FFFDFD;
    text-align: center;
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.Redirection{
    margin-top: 20%;
    color: #FFF;
    text-align: center;
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.bloc2{
    margin-top: 18.4%;
    margin-left: -780px;
    position: absolute;
    width: 41px;
    height: 168px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #FFF;
    background: #14FF00;
}